<header id="explain">
  <h1> Exercice </h1>
</header>

<section id="picto">
  <h3>Nom de l'exercice</h3>
  <div class="<%= @data.type %>"></div>
</section>

<section id="explain">
  <h4>Description: </h4>
  <p class="<%= @data.type %>">
  </p>
</section>

<section id="interact">
  <a href="<%= "/patient/exercise/" <> @data.num %>" >
      <button id="go">
        C'est parti !
    </button>
  </a>

  <a href="<%= "/patient/explain/" <> @data.next %>" >
    <button id="no">
      Passer
    </button>
  </a>
</section>


