<header id="feedback">
	<div>
		<a href="/patient">
			<i class="fas fa-arrow-left"></i>
			<span>Retour</span>
		</a>
	</div>
	<h1>Bravo !</h1>
</header>

<section id="feedback">

	<section id="result">
		<h2>Exercices réalisés</h2>
		<div id="result_container">
			<i class="fas fa-check active"></i>
			<i class="fas fa-check"></i>
			<i class="fas fa-check"></i>
			<i class="fas fa-check active"></i>
			<i class="fas fa-check active"></i>
			<i class="fas fa-check active"></i>
		</div>
	</section>

	<section id="score">
		<h2>Était-ce difficile ?</h2>
		<div id="score_container" class="rate">

			<input type="radio" name="rating" id="start1" value="1">
			<label for="start1"> <i class="fas fa-star"></i> </label>

			<input type="radio" name="rating" id="start2" value="2">
			<label for="start2"> <i class="fas fa-star"></i> </label>

			<input type="radio" name="rating" id="start3" value="3">
			<label for="start3"> <i class="fas fa-star"></i> </label>


			<input type="radio" name="rating" id="start4" value="4">
			<label for="start4"> <i class="fas fa-star"></i> </label>

			<input type="radio" name="rating" id="start5" value="5">
			<label for="start5"> <i class="fas fa-star"></i> </label>
		</div>
	</section>

</section>

<section id="input">
	<input type="text" placeholder="Taper votre message" />

	<button id="micro">
		<i class="fas fa-microphone"></i>
	</button>
</section>

