<header>
	<h1>Hello Quentin !</h1>
	<div id="patient_container">
		<div id="home" class="active">
			<i class="fas fa-home"></i>
			<span>Accueil</span>
		</div>
		<div id="contact">
			<i class="fas fa-comments"></i>
			<span>message</span>
		</div>
	</div>
</header>

<section id="patient_session" class="active">

	<section id="success">
		<div>
			<i class="fas fa-calendar-alt"></i>
			<h4>Jour</h4>
		</div>

		<div>
			<i class="fas fa-running"></i>
			<h4>exercice</h4>
		</div>

		<div>
			<i class="fas fa-hourglass-half"></i>
			<h4>temps</h4>
		</div>
	</section>


	<section id="interact">
    <a href="/patient/explain/0">
      <button id="work">
        faire ma séance
      </button>
    </a>

    <a href="/patient/pass">
      <button id="avoid">
        pas aujourd'hui
      </button>
    </a>
	</section>

	<section id="tips">
		<h5>Astuce de la journée: </h5>
    <p>Pense à t'hydrater après la séance, afin d'aider ton corps et tes cellules 
    à se régénérer.</p>
	</section>

</section>

<section id="patient_contact" >

	<section id="chat">
		<div class="msg_patient">
      Bonjour Édouard,<br/>
      Ayant mal dormi cette nuit, j'éprouve beaucoup de difficulté à réaliser
      mon exercice pour la main. Je pense que 15 répétitions c'est trop...
      Serait-il possible de réduire le nombre de répétitions pour la prochaine 
      séance?
      <br/>
			Merci
		</div>
		<div class="msg_kine">
			Bonjour, M. Chevalier<br/>
			Reposez-vous pour aujourd'hui, nous en parlerons demain lors du rendez-vous !
		</div>
	</section>

	<section id="input">
		<input type="text" placeholder="Taper votre message" />

		<button id="micro">
			<i class="fas fa-microphone"></i>
		</button>
	</section>

</section>
