header#exercise {
	height: 80px;
}

header#exercise div:hover a {
	color: white;
}

header#exercise div i {
	width: auto;
}

header#exercise h1 {
	font-family: "Montserrat-Bold";
	height: 80px;
	line-height: 80px;
	text-align: center;
}

header#exercise + section#picto {
	margin-top: 150px;
}

section#repeat h3, section#timer h3 {
	margin-top: 40px;
	font-family: "Montserrat-Bold";
	font-size: 3em;
	color: #c0c0c0;
	width: 100%;
	text-align: center
}

section#interact {
	bottom: 15px;
}
section#interact button {
	background: #734b7d;
}
