/*
sand: f2e9e0
gray: ebebeb
lightpurple: a787ac
deeppurple: 734b7d
*/

header > h1 {
	font-size: 1.6em;
	width: 100%;
	height: 70%;
	color: white;
	width: 100%;
	text-align: center;
	vertical-align: center;
	line-height: 80px;
	border: none;
	margin-top: 0.8em;
	margin-block-end: 0;
	margin-block-start: 0;
}

header i {
	opacity: 0.7;
	font-size: 1.7em;
	width: 30%;
	padding: 5px;
	height: 100%;
	color: white;
	vertical-align: center;
	text-align: center;
}

header span {
	opacity: 0.7;
	padding: 5px;
	font-family: "Montserrat-SemiBold";
	font-size: 1.2em;
	color: white;
	text-transform: capitalize;
}

header > div#patient_container {
	width: 100%;
	height: 30%;
	display: flex;
	justify-content: space-between;

}

header > div#patient_container > div {
	width: 50%;
	height: 100%;
}

header > div#patient_container > div#home {
	display: flex;
	vertical-align: center;
	justify-content: center;
	bottom: 0;
	cursor: pointer;
}

header > div#patient_container > div#contact {
	display: flex;
	vertical-align: center;
	justify-content: center;
	bottom: 0;
	cursor: pointer;
}

.active {
	cursor: default;
	opacity: 1;
	border-bottom: 4px inset;
	border-color: white;
}

.active i {
	opacity: 1;
	cursor: default;
}

.active span {
	opacity: 1;
	cursor: default;
}

