section#patient_session {
	width: 100%;
	height: 100%;
	display: none;
	margin-top: calc(calc(100% / 3) + 80px);
}

#patient_session.active {
	opacity: 1;
	display: block;
}

section#patient_contact {
	width: 100%;
	height: 100%;
	display: none;
}

section#patient_contact.active {
	display: block;
}

section#patient_session #success {
	display: flex;
	padding-left: 5px;
	padding-right: 5px;
	justify-content: space-around;
}


section#patient_session #success div {
	width: calc(calc(100% / 3) - 30px);
	background: #ebebeb;
	border-radius: 5px;
	padding: 5px;
	padding-top: 10px;
	padding-bottom: 10px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	-webkit-box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
	-moz-box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
	box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
	cursor: pointer;
}

section#patient_session #success div:hover > i {
	color: #b0b0b0;
}

section#patient_session #success div:hover > h4 {
	color: #b0b0b0;
}

section#patient_session #success div > i {
	width: 100%;
	height: 40px;
	font-size: 40px;
	text-align: center;
	color: #c8c8c8;
	padding: 10px;
	transition: 0.5s ease;
}

section#patient_session #success div h4 {
	font-family: "Montserrat-SemiBold";
	width: 100%;
	text-align: center;
	padding-top: 15px;
	padding-bottom: 10px;
	color: #c8c8c8;
	display: block;
	margin: 0;
	text-transform: capitalize;
	transition: 0.5s ease;
}

section#patient_session #interact {
	padding-top: 50px;
}

section#patient_session #interact button#work {
	background: #734b7d;
	text-transform: capitalize;
}

section#patient_session #interact button#avoid {
	color: #b0b0b0;
	background: white;
	text-transform: capitalize;
}

section#patient_session #interact button#avoid:hover {
	color: #adadad;
	background: white;
}


section#patient_session #tips {
	padding-top: 30px;
}

section#patient_session #tips h5 {
	font-family: "Montserrat-SemiBold";
	color: #6f6f6f;
	width: 90%;
	margin-left: 5%;
	margin-bottom: 5px;
}

section#patient_session #tips p{
	width: 90%;
	color: #6f6f6f;
	margin-left: 5%;
}


section#patient_contact #chat {
	margin-top: calc(calc(100% / 3) + 80px);
	height: 60%;
	overflow-x: hidden;
	overflow-y: scroll;
}

.msg_kine {
	font-family: "Montserrat-Medium";
	width: calc(90% - 10px);
	margin-left: 15px;
	padding: 10px;
	min-height: 30px;
	border-radius: 8px;
	margin-bottom: 10px;
	background: #a787ac;
	color: white;
	-webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
	-moz-box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
	box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);

}

.msg_patient {
	font-family: "Montserrat-Medium";
	width: calc(90% - 10px);
	margin-left: 10%;
	padding: 10px;
	min-height: 30px;
	left: 0px;
	border-radius: 8px;
	margin-bottom: 10px;
	background: #f2e9e0;
	-webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
	-moz-box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
	box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

section#input {
	height: 10%;
	margin-left: 10px;
	margin-right: 10px;
	display: flex;
	justify-content: space-between;
}

section#input input {
	width: 80%;
	height: 90%;
	padding-left: 4%;
	padding-right: 4%;
	border-radius: 100vw;
	border: none;
	-webkit-box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
	-moz-box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
	box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
	margin: auto auto;
	text-indent: 15px;
}

section#input input:focus {
	outline: none;
}

section#input #micro {
	cursor: pointer;
	min-width: 15%;
	width: 15%;
	min-height: 80%;
	background: #734b7d;
	text-align: center;
	display: flex;
	justify-content: center;

	-webkit-box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
	-moz-box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
	box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

section#input #micro > i {
	cursor: pointer;
	font-size: 1.4em;
	width: auto;
}
