/*
sand: f2e9e0
gray: ebebeb
lightpurple: a787ac
deeppurple: 734b7d
black: 
*/

body {
	width: 100vw;
	height: 100vh;
	overflow: hidden;
	background: lightgray;
	font-family: Montserrat-Regular;
}

main {
	width: 414px;
	height: 736px;
	overflow-x: hidden;
	overflow-y: scroll;
	z-index: 0;
	margin: auto auto;
	margin-top: calc(calc(100vh - 736px) / 2);
	-webkit-box-shadow: 0px 7px 40px 0px rgba(0,0,0,0.52);
	-moz-box-shadow: 0px 7px 40px 0px rgba(0,0,0,0.52);
	box-shadow: 0px 7px 40px 0px rgba(0,0,0,0.52);
	background: white;
	position: relative !important;
}

::-webkit-scrollbar {
    display: none;
}

header {
	width: 414px;
	height: calc(calc(736px / 3) / 2);
	background: #734b7d;
	-webkit-box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
	-moz-box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
	box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
	position: fixed;
	border: none;
}

button {
	border: none;
	font-size: 1.4em;
	min-width: 90%;
	min-height: 65px;
	border-radius: 100vw;
	margin-left: 5%;
	margin-top: 10px;
	margin-bottom: 10px;
	-webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
	-moz-box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
	box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
	transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

button:hover {
	-webkit-box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
	-moz-box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
	box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

button a {
	color: inherit;
}

button a:hover {
	color: inherit;
}
